<div class="container">
<div class="col-lg  col-md-6 col-sm-12 col">
  <form action="{% url 'search' %}" class="search" method="GET">
      <div class="input-group w-100">
          <input type="text" class="form-control" style="width:30%;" placeholder="Search by Customer Name or last 4 Contact digits " name="keyword">
          
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
      </div>
  </form> <!-- search-wrap .end// -->
</div>
</div>