
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            {% if request.user.is_authenticated %}
            <h4 class="page-title">Welcome  {{ request.user }} </h4>
            {% endif %}
            <div class="ml-auto text-center">

                <a href="{% url 'kenya' %}" type="button" class="btn btn-outline-success">Received Cargo  &nbsp;  <span class="badge badge-pill badge-success">{{cargos.count}}</span></a>
                <a href="{% url 'dispatched-kenya' %}" type="button" class="btn btn-outline-warning">Dispatched Cargo &nbsp; <span class="badge badge-pill badge-warning">{{cargos_d.count}}</a>
                
            </div>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Kenya Warehouse</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>