
{% include 'dashboard/includes/breadcrumb.html' %}
<hr>
<div>
    <h3 style="text-align: left;">Perfom Operations Here</h3>
  </div>
<div class="row">
    <!-- Column -->
  
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <a href="{% url 'client' %}">

        <div class="card card-hover">
            <div class="box bg-cyan text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-account-circle"></i></h1>
                <h6 class="text-white">{{ clients.count }} Clients</h6>
            </div>
        </div>
    </a>
    </div>
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <a href="{% url 'agent' %}">

        <div class="card card-hover">
            <div class="box bg-cyan text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-account-circle"></i></h1>
                <h6 class="text-white">{{ salespersons.count }} Sales Persons</h6>
            </div>
        </div>
    </a>
    </div>

    {% if request.user.is_staff %}
    <!-- Column -->
    <a href="{% url 'offloaded' %}">
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-info text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                    <h6 class="text-white">Receive Goods</h6> 
                    <!-- <h6 class="text-whit6+e">Recieved Cargo china: {{ cargos.count }} </h6> -->
                </div>
            </div>
        </a>
        </div>
        <a href="{% url 'kenya' %}">
            <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                    <div class="box bg-warning text-center">
                        <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                        <h6 class="text-white">Dispatched</h6> 
                        <h6 class="text-white"></h6>
                    </div>
                </div>
            </a>
            </div>
            <a href="{% url 'yiwu' %}">
                <div class="col-md-6 col-lg-2 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-info text-center">
                            <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                            <h6 class="text-white">Yiwu Operations</h6> 
                            <h6 class="text-white"></h6>
                        </div>
                    </div>
                </a>
                </div>
{% endif %}        
            </div>
<hr>
